// ============================================================================
// INPUT
// ============================================================================

input {
    keyboard {
        xkb {
            layout "us"
        }
        repeat-delay 270
        repeat-rate 20
    }
    touchpad {
        tap
        natural-scroll
        dwt
    }
    focus-follows-mouse
}
