// ============================================================================
// STARTUP
// ============================================================================

hotkey-overlay {
    skip-at-startup
}

spawn-at-startup "swaync"
spawn-at-startup "fcitx5" "-d" "--replace"


